{% extends "AppRegistro/inicio.html" %}
{%load static %}
{% block ContenidoCambia %}
<br> <br> 
    <h3> Inicio de Sesion</h3>
    {% if usuarioFormulario.error %}
    <p>Intente de nuevo</p>
    {% endif %}
    <div background="C:\Users\Administrador\Desktop\Entrega1_Grupo9\AppRegistro\Static\AppRegistro\assets\img\esta.jpg">
    </div>
    <form method="POST"> 
        
        {% csrf_token %}
        
        <table>
            {{miForm.as_table}} 

        </table>

        <br>
        <input type="submit" valor="enviar">
    </form>

    <br><br>
{% endblock ContenidoCambia%}